<h1>Menu Page</h1>

<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@menu_item.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
 
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @order do |form| %>
    <h1>Delivery ?</h1><%= form.check_box :delivery, checked: @order.delivery? %>
    
    <%= form.submit %>
<% end %>

<% @menu_items.each  do |item| %>
    <h1><%= item.category%></h1>
    <h2><%= item.name %></h2>
    <p>$<%= item.price %></p>
    <p><%= item.description %></p>
    <%= button_to "Item Description", menu_path(item), :method => :get %>    
<% end %>

<br><br>
<% if current_user%>
    <%= link_to "#{current_order.line_items.size} items in your cart", cart_orders_path(@current_cart ) %>
<% end %>