<h1>Menu Item</h1>
<% if @line_items.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@line_items.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
 
    <ul>
    <% @line_items.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h2><%= @menu_item.name %></h2>
<p>
    <strong>Category: <%= @menu_item.category %></strong>
</p>
<p>
    <strong><%= @menu_item.price %></strong>
</p>

<p>
    <strong>Description:</strong><br>
    <%= @menu_item.description %>
</p>

<%= form_for @line_items do |f| %>
    <%= f.hidden_field :order_id, :value => @order.id%>
    <%= f.hidden_field :menu_item_id, :value => @menu_item.id%>
    <%= f.hidden_field :unit_price, :value => @menu_item.price%>
    <%= f.hidden_field :for_user, :value => @current_user.id%>
    <%= f.hidden_field :menu_item_name, :value => @menu_item.name%>
    <%= f.number_field(:quantity, min: 1) %>
    <%= submit_tag "Add to Cart"%>
<% end %>


<%= button_to 'Back', menus_path, :method => :get %>