
<% if @order.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@order.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
 
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @order do |f| %>
 
    <%= f.hidden_field :cart_id, :value => current_cart.id%>
    Order For<%= f.select :for_user, User.all.collect{|u| [u.email, u.id]} %><br>
    Delivery: <%= f.check_box :delivery %><br>
     <%= f.fields_for :line_items do |li| %>
        Menu Item:<%= li.select :menu_item_id, MenuItem.all.collect{|p| [p.name, p.id]} %><br>
        Quantity:<%= li.number_field(:quantity, min: 0) %><br>
        
    <% end %>
   

    <%= f.submit %>

<% end %>
