
<h1>Previous and Current Orders of:</h1> <%= @current_user.name %>

<% if @orders != []%>
    <ul style="list-style-type: none;">
   <% @orders.each  do |order| %>
       <li>Order Number:  <%= order.id %></li>
        <% order.line_items.each  do |item| %>
            <ul>
            <li><%= item.menu_item_name %><br></li>
            <li>quantity: <%= item.quantity%></li>
            <li>Subtotal: <%= number_to_currency(item.line_item_subtotal) %></li>
            </ul>
        <% end %>
        <li>Total: <%= number_to_currency(order.total) %></li>
    <% end %>
    </ul>   
<% else %>
    <h2>You haven't ordered anything yet.</h2>
<% end %>


<%= button_to 'Back', root_path, :method => :get %>
