<h3>This cart belongs to: <%= @current_cart.user.first_name %></h3>


<h1>Order # <%= @current_order.id %></h1>
<% if @current_order.delivery == true %>
  <h2>Delivery Status: Delivery</h2>
<% else %>
  <h2>Delivery Status: Carry-Out</h2>
<% end %>

<% @current_order.line_items.each do |i| %>

        <h2><%= i.menu_item_name %></h2>
        <b><%= i.unit_price %></b>
        <%= form_for i, remote: true do |f|%>
          <%= f.hidden_field :menu_item_id, :value => i.menu_item_id %>
          <%= f.number_field :quantity, :value => i.quantity.to_i %> 
          <%= button_to "Delete Item", line_item_path(i), method: :delete, data: { confirm: " Are you sure?" } %>
        <% end %>    
        <i><%= number_to_currency(i.line_item_subtotal) %></i> 
<% end %>


<h2>Subtotal: <%= number_to_currency(@order.order_subtotal) %></h2>
<% if @order.delivery == true %>
<h3>Delivery fee:</h3><%= number_to_currency(@order.delivery_fee) %></>
<% end %>
<h3>Tax: <%= number_to_currency(@order.tax)%></h3>
<h2>Total: <%= number_to_currency(@order.total)%></h2>

<% if @current_cart.user.first_name == "Manager's Order"%>
    <%= button_to 'Return to Menu', new_order_path, :method => :get %>
<% else %>
    <%= button_to 'Return to Menu', menus_path, :method => :get %>
<% end %>

<%= button_to 'Submit your order', submissions_path, :method => :get %>