<h1><%= @current_order.id %></h1>

<% @current_order.line_items.each do |i| %>
        
        <% binding.pry %>
        <h2><%= m.name %></h2>
        <b><%= m.price %></b>
        <%= form_for i, remote: true do |f|%>
          <%= f.hidden_field :menu_item_id, :value => i.menu_item_id %>
          <%= f.number_field :quantity, :value => i.quantity.to_i %> 
          <%= f.submit "Update Cart"%> 
        <% end %>
            
                
            
            
        
        <i><%= number_to_currency(i.line_item_subtotal) %></i>
    

    <%= button_to "Delete Item", line_item_path(i), method: :delete, data: { confirm: " Are you sure?" } %>
<% end %>